@import "src/styles/colors";

header {
	background: var(--color-bg-contrast-low);
	height: 3em;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 1em 0 1em;
	box-shadow: 0 1px 0 rgb(12 13 14 / 15%);
}
