# Dependencies
node_modules

# Vercel
.vercel
.env*

# Next.js
/.next/
/out/
.cache

# Production
/build

# Typescript
next-env.d.ts

# Editor
.idea


# Robots.txt and sitemap is generated during build
robots.txt
sitemap.xml
