:root, [data-theme="dark"] {
    --color-primary: red;
    /* color contrasts */
    --color-bg: #000;
    --color-bg-contrast-low: hsl(0, 0%, 22%);
    --color-contrast-lower: hsl(240, 6%, 15%);
    --color-contrast-low: hsl(252, 4%, 25%);
    --color-contrast-medium: hsl(240, 1%, 57%);
    --color-contrast-high: hsl(0, 0%, 89%);
    --color-contrast-higher: #fff;
}

[data-theme] {
    background-color: var(--color-bg);
    color: var(--color-contrast-higher);
}

[data-theme="light"] {
    --color-primary: blue;
    /* color contrasts */
    --color-bg: white;
    --color-contrast-lower: hsl(0, 0%, 95%);
    --color-contrast-low: hsl(240, 1%, 83%);
    --color-contrast-medium: hsl(240, 1%, 48%);
    --color-contrast-high: hsl(240, 4%, 20%);
    --color-contrast-higher: black;
}

.low-opacity {
    opacity: .6;
}

main {
    margin: 0 15% 0 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeIn linear 1s;
    font-family: 'Fira Sans', serif;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

a {
    color: var(--color-contrast-higher)
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.flex-h {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pad-r-m {
    padding-right: 1em;
}
