@import "src/styles/colors";

.icon {
	background-color: var(--color-contrast-medium);
	display: block;
}

.icon-s {
	width: 1em;
	height: 1em;
	mask-size: 1em 1em;
}

.icon-m {
	width: 1.5em;
	height: 1.5em;
	mask-size: 1.5em 1.5em;
}

.icon-l {
	width: 2em;
	height: 2em;
	mask-size: 2em 2em;
}

.GitHub {
	mask-image: url(github.svg) ;
}

.Twitter {
	mask-image: url(twitter.svg);
}

.E-Mail {
	mask-image: url(email.svg);
}

.Location {
	mask-image: url(location.svg);
}
